html {
    font-family: 'Kumbh Sans', sans-serif;
    width: 100%;
    height: 100%;
    background-color: hsl(240, 73%, 65%);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-color: hsl(240, 73%, 65%);
}

.card {
    display: flex;
    justify-content: center;
    width: 1010px;
    height: 500px;
    background-color: white;
    border-radius: 25px;
}

.card-left {
    width: 100%;
    position: relative;
}

.card-right {
    width: 100%;
    padding: 30px 100px 0 0;
}

/*-----Styling Illustrations-----*/

.card-left img {
    position: absolute;
}

.img-box {
    top: 233px;
    right: 356px;
}

.img-desktop {
    clip-path: inset(100% 82% 100% 100%);
    top: 100px;
    right: 68px;
}

.img-pattern {
    clip-path: inset(86.5% 40% 71.8% 100%);
    top: -267px;
    right: 68px;
}

.img-desktop-mobile, .img-pattern-mobile {
    display: none;
}

/*-----Styling and Animating Accordion-----*/

h1 {
    color: hsl(238, 29%, 16%);
}

label {

    height: 40px;
    display: block;
    padding-right: 50px;
    color: hsl(240, 6%, 50%);
}

label:hover {
    color: hsl(238, 29%, 16%);
    font-weight: 700;
}

P {
    margin-top: 0;
    color: #630000;
}

hr {
    border-color: hsl(240, 5%, 91%);
    opacity: 0.4;
}

.acc-row {
    position: relative;
}

.icon-arrow {
    position: absolute;
    right: 0;
    transform: rotate(270deg);
}

input:checked ~ label .icon-arrow {
    transform: rotate(0deg);
}

input, input ~ p {
    display: none;
}

input:checked ~ p {
    display: block;
}

input:checked ~ label {
    color:hsl(238, 29%, 16%);
    font-weight: 700;
}

/*-----Mobile Design-----*/

@media (max-width: 1200px) {

    html {
        height: revert;
    }

    h1 {
        text-align: center;
        margin-top: 0;
    }

    label {
        margin-bottom: 16px;
    }

    .card {
        width:80%;
        max-width: 340px;
        height: 600px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin-top: 150px;
    }

    .card-right {
        width: 100%;
        max-width: 340px;
        height: 80%;
        padding: 0;
    }

    .card-left {
        width: 100%;
        max-width: 340px;
        height: 20%;
    }

    .img-pattern, .img-desktop, .img-box {
        display: none;
    }

    .img-desktop-mobile, .img-pattern-mobile {
        display: inline;
        width: 80%;
    }

    .img-desktop-mobile {
        bottom: 58px;
        left: 33px;
    }

    .img-pattern-mobile {
        bottom: 25px;
        left: 33px;
    }
}